/* Indonesia Styles */
.destination {
  background-color: #006600;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.destination h2 {
  color: #ffffff;
}

.destination p {
  color: #cccccc;
}

.destination-img {
  border-radius: 10px;
}
